@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  /*usun poniezej*/
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /*usun powyzej*/
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(130, 125, 125);
}
html {
  scroll-behavior: smooth;
}
.main1 {
  /* background-color: rgb(90, 90, 90); */
  /* background-color: rgb(51, 44, 44); */
  background-color: rgb(30, 30, 32);
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}
.main1semi {
  /* background-color: rgb(213, 17, 17); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5%;
}
.main1center {
  /* background-color: rgb(170, 34, 34); */
  display: flex;
  width: 90%;
  flex-direction: column;
  /**/
  position: relative;
}
.main1semiobject {
  /* background-color: rgb(32, 149, 154); */
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 100px 0; */
}
.main1semiobject:first-child {
  margin-top: 2vh;
}
#piec {
  margin-right: 4vw;
}

.main1cu {
  /* background-color: #ad28d5; */
  /* flex: 1; */
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5vh;
  margin-left: -5vw;
  /**/
  position: fixed;
  /* top: 0; */
  z-index: 1;
}
.main1cur {
  /* background-color: blue; */
  width: 30vw;
  height: 5vh;
  margin-right: 3vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.menu-item {
  color: white;
  padding: 10px 0.5vw;
  margin-right: 1vw;
  /* margin-left: 1vw; */
  cursor: pointer;
  transition: color 0.3s ease;
  /* background-color: #282925; */
}

.menu-item:hover {
  color: rgb(117, 117, 117);
}
.menu-item.active {
  color: rgb(98, 153, 182);
  border-bottom: 2px solid rgb(15, 108, 159);
}

.main1cd {
  /* background-color: #167b34; */
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* margin: 1%; */
  position: absolute;
  bottom: 0;
  width: 100%;
}
.main1cdl {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(144, 144, 144); */
  /* background-color: rgb(64, 62, 62); */
  /* margin: 1%; */
  margin-left: 5vw;
  padding-left: 1vw;
  /* margin-top: 10vh; */
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  padding-left: 5vw;
}
.main1p1 {
  flex: 3;
  /* background-color: #1dc850; */
  display: flex;
  align-items: flex-end;
}
.main1p2 {
  flex: 1;
  /* background-color: #1d5fc8; */
  display: flex;
  align-items: center;
}
.main1p3 {
  flex: 3;
  /* background-color: #c81dbd; */
  color: #e5e5e5;
  font-size: 20px;
  /* text-transform: uppercase; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.main1p4 {
  flex: 1;
  /* background-color: #aec81d; */
}
.main1p1 p {
  /* font-size: 3vh; */
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}
.main1p2 p {
  font-size: 80px;
  font-weight: 900;
  /* color: #7b7b7b; */
  color: rgb(98, 153, 182);
  /* color: rgb(15, 108, 159); */
}

.main1cdr {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(13, 22, 181); */
  /* margin: 1%; */
  align-self: flex-end;
  margin-right: 5vw;
  /* margin-bottom: 10vh; */
  display: flex;
  align-items: center;
}
.main1cdrr img {
  max-width: 100%;
  /* background-color: #1e231f; */
}

.bars-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  /* background-color: #ad28d5; */
}
.bar-link {
  display: block;
  width: 100%;
  height: 25%;
  padding: 2px 2px;
  cursor: pointer;
  position: relative;
}

.bar {
  width: 2vw;
  height: 0.2vh;
  background-color: #ffffff;
  margin-bottom: 0.9vh;
  cursor: pointer;
}
.bar:hover {
  background-color: rgb(74, 74, 74);
  transform: translateX(calc(2.5vw - 2vw));
}
.bar.active {
  /* background-color: rgb(0, 0, 0); */
  background-color: rgb(98, 153, 182);
  /* color: rgb(98, 153, 182);
  border-bottom: 2px solid rgb(15, 108, 159); */
  transform: translateX(calc(2.5vw - 2vw));
}

.main1logo {
  position: absolute;
}
/**********************/
/**********************/
/**********************/
/**********************/
/**********************/
/* 30.11 */

/*******************************************/
/*             DRUGA SEKCJA                */
/*******************************************/

#main2 {
  /* background-color: rgb(59, 60, 65); */
  /* background-color: rgb(45, 66, 91); */
  /* background-color: rgb(54, 71, 92); */
  /* background-color: rgb(67, 74, 81); */
  /* background-color: rgb(46, 46, 48); */
  background-color: rgb(30, 30, 32);
  position: relative;
  width: 100%;
  height: 100vh;
  /* z-index: -2; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.dwa {
  color: #ffffff;
  align-items: center;
  font-size: 300px;
}
.main2all {
  /* background-color: #686a65; */
  width: 70vw;
  height: 90%;
  /* width: 60vw;
  height: 85%; */
  display: flex;
  flex-direction: column;
}
.main2u {
  flex: 1;
  /* background-color: #1dc850; */
  margin: 5vh;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  /* justify-content: left; */
}
.main2uin {
  width: 99%;
  /* background-color: #ad28d5; */
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main2uinstring {
  font-size: 4vh;
  font-weight: 900;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #fff;
}
.main2d {
  flex: 6;
  /* background-color: #0637a1; */
  margin: 5vh;
  margin-top: 0;
  display: flex;
  justify-content: center;
}
.main2ditem {
  width: 20vw;
  height: 20%;
  background-color: yellow;
}
.main2dd {
  display: flex;
  /* background-color: #ffffff; */
  width: 98%;
  margin: 1%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main2ditem {
  width: 20%;
  height: 20%;
  background-color: yellow;
  margin: 1%;
  display: flex;
  /* justify-content: left; */
  /* align-items: center; */
}
.main2ditemin {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
}
.main2ditem img {
  /* width: 1vw; */
  object-fit: contain;
  /* background-color: #d51313; */
}
.main2ditemout {
  background-color: #2ea2c5;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.main2ditemout {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.mm {
  width: 20%;
  height: 20%;
  /* background-color: rgb(196, 58, 24); */
  /* background-color: rgb(193, 113, 113); */
  margin: 1%;
  display: flex;
  border: 2px solid rgb(15, 108, 159);
  overflow: visible;
  border-radius: 10%;
}
.mm:hover {
  background-color: #504a4a7c;
  cursor: pointer;
}

.l2lewo {
  /* background-color: lawngreen; */
  flex: 1;
  margin: 1vh;
  /* border: 1px solid black; */
  border-right: none;
  display: flex;
  padding: 10px;
}
.l2prawo {
  /* background-color: rgb(131, 126, 24); */
  flex: 1;
  /* border: 1px solid black; */
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}

/* .l2lewoimg{
  background-color: #282925;
  width: 50%;
  height: 10vh;
}
.l2lewoimg img{
  object-fit: contain;
} */
.l2lewoimg {
  /* background-color: #282925; */
  flex: 1;
  position: relative;
}

.l2lewoimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  overflow: visible;
  /* margin-left: 1vw; */
}

.skills {
  color: #fff;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*******************************************/
/*             TRZECIA SEKCJA                */
/*******************************************/

#main3 {
  /* background-color: rgb(37, 39, 47); */
  /* background-color: rgb(59, 60, 65); */
  background-color: rgb(30, 30, 32);
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
#main3c {
  /* background-color: #23d04e; */
  width: 70%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
}
.main3ele {
  border: 1px solid #ffffff;
  /* background-color: #2ea2c5; */
  width: 23%;
  height: 42%;
  margin: 1%;
  display: flex;
  align-items: stretch; /* Rozciągnij elementy wzdłuż osi krzyżowej (osi Y) */
}

.main3img {
  flex: 1; /* Rozciągnij obrazek, aby wypełnił całą dostępną przestrzeń */
  object-fit: cover; /* Dopasuj obrazek do wymiarów obiektu, zachowując proporcje */
  width: 100%;
  height: 100%;
}
.main3ele:hover {
  background-color: #ffffff;
}
.main3img:hover {
  opacity: 0.8;
}

.trzy {
  color: #ffffff;
  align-items: center;
  font-size: 300px;
}
.main1pcon {
  list-style: none;
  position: fixed;
  z-index: 1;
}
/*nowe-usun pod tym*/
/*nowe-usun pod tym*/
/*nowe-usun pod tym*/
/*nowe-usun pod tym*/
/*nowe-usun pod tym*/
/*nowe-usun pod tym*/
/*nowe-usun pod tym*/
/*nowe-usun pod tym*/
/*nowe-usun pod tym*/

ul {
  list-style: none;
}
ul li {
  margin: 1vh 0;
}

ul li a {
  color: #586668de;
  list-style: none;
  /* position:relative; */
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 2px;
  /* color:transparent; */
  -webkit-text-stroke: 1px var(--clr);
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0px;
  overflow: hidden;
  transition: 1s;

  border-right: 1px solid var(--clr);
}
ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(7px -102px 50px var(--clr));
}
/*  text-shadow:
      0 0 7px var(--clr),
      0 0 10px var(--clr),
      0 0 21px var(--clr),
      0 0 42px var(--clr),
      0 0 82px var(--clr),
      0 0 92px var(--clr),
      0 0 102px var(--clr),
      0 0 151px var(--clr);
}
}*/

/*k.nowe*usundotegomiesjca*/
/*k.nowe*usundotegomiesjca*/
/*k.nowe*usundotegomiesjca*/
/*k.nowe*usundotegomiesjca*/
/*k.nowe*usundotegomiesjca*/
/*k.nowe*usundotegomiesjca*/
/*k.nowe*usundotegomiesjca*/
/*k.nowe*usundotegomiesjca*/

.main1pcon li {
  list-style: none;
  /* background-color: #d51313; */
  margin: 3vh 0;
  font-size: 1.5vh;
  color: #fff;
}
.main1pcon li:hover {
  color: #23d04e;
  cursor: pointer;
}

/*888888989898989898989898989898989898989 */

.main3elein {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 1.5vw;
  color: #fff;
}
.main3elein:hover {
  background-color: #ffffff;
  color: #2ea2c5;
}

/*******************************************/
/*             CZWARTA SEKCJA                */
/*******************************************/

#main4 {
  background-color: rgb(0, 0, 0);
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.cztery {
  color: #ffffff;
  align-items: center;
  font-size: 3vh;
}

/*******************************************/
/*                   MEDIA                 */
/*******************************************/

/* 4k+ */
@media only screen and (min-width: 1600px) {
  .skills {
    font-size: 1.4rem;
  }
  #piec {
    margin-right: 4vw;
  }
}
/* LAPTOP L */
@media only screen and (max-width: 1500px) {
  #piec {
    margin-right: 6vw;
  }
}
/* LAPTOP */
/* @media only screen and (max-width: 1111px)  { */
@media only screen and (max-width: 1350px) {
  #piec {
    margin-right: 10vw;
  }
  .main2d {
    margin: 0;
  }
  .mm {
    width: 22%;
  }
  .l2lewo {
    /* padding: 5px 0px 5px 15px; */
    padding: 12px;
  }
  .skills {
    font-size: 0.9rem;
  }
  .main2all {
    width: 75vw;
  }
}
/* TABLET+ */
@media only screen and (min-width: 641px) and (max-width: 1000px) {
  /* SEKCJA 1 ******************************************/
  .main1p1 p {
    font-size: 20px;
    font-weight: 600;
  }
  .main1p2 p {
    font-size: 40px;
    font-weight: 900;
  }
  .main1p3 {
    font-size: 13px;
  }
  /* SEKCJA 2 ******************************************/
  .main1pcon {
    display: none;
  }
  .mm {
    flex-direction: column;
    margin: 0;
  }
  .l2prawo {
    display: none;
  }
  .l2lewo {
    margin-top: 0;
    max-height: 100%;
    max-width: 100%;
  }
}
/* TABLET */
@media only screen and (min-width: 500px) and (max-width: 640px) {
  /* SEKCJA 1 ******************************************/
  .main1p1 p {
    font-size: 20px;
    font-weight: 600;
  }
  .main1p2 p {
    font-size: 40px;
    font-weight: 900;
  }
  .main1p3 {
    font-size: 13px;
  }
  /* SEKCJA 2 ******************************************/
  .main2all {
    margin-right: 5vw;
  }
  .main2u {
    margin: 5vh 0 0 0;
  }
  .l2lewo {
    /* padding: 0px; */
  }
  .l2prawo {
    /* display: none; */
  }
  .main1pcon {
    display: none;
  }
  /*TEST wyswietlania z napisem w kolumnie*/
  .main2uinstring {
    font-size: 2vh;
    font-weight: 900;
  }
  .l2prawo {
    margin: 0;
    margin-bottom: 3vh;
  }
  .mm {
    flex-direction: column;
  }
  .skills {
    font-size: 0.9rem;
  }
}

/* MOBILE L */
@media only screen and (max-width: 499px) {
  /* SEKCJA 1 ******************************************/
  .main1p1 {
    flex: 9;
  }
  .main1p1 p {
    font-size: 20px;
    font-weight: 600;
  }
  .main1p2 p {
    font-size: 30px;
    font-weight: 600;
  }
  .main1p3 {
    font-size: 20px;
  }
  .main1cd {
    flex-direction: column;
  }
  .main1cdl {
    margin-left: 0;
    width: 100%;
    padding-left: 3%;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .main1cdr {
    margin-right: 0;
    width: 100%;
    align-items: flex-start; /* zdjęcie na górze */
  }
  /* SEKCJA 2 ******************************************/
  /*pierwsza nav*/
  .main1cu {
    margin-top: 2vh;
    margin-left: -5vw;
    /**/
  }
  .main1pcon {
    display: none;
  }

  /*druga sekcja*/

  .main2u {
    margin: 5vh 0 0 0;
  }
  .main2uinstring {
    font-size: 2vh;
    font-weight: 900;
  }
  .main2d {
    margin: 0;
  }
  .main2all {
    width: 90vw;
  }
  .l2lewo {
    padding: 2px;
  }

  /*TEST wyswietlania z napisem w kolumnie*/
  .l2prawo {
    margin: 0;
    margin-bottom: 3vh;
  }
  .mm {
    flex-direction: column;
  }
  .skills {
    font-size: 0.9rem;
  }
}
/* MOBILE S */
@media only screen and (max-width: 340px) {
  /*pierwsza nav*/
  .main1cu {
    margin-top: 2vh;
    margin-left: -5vw;
    /**/
  }
  /*druga sekcja*/
  .main2u {
    margin: 5vh 0 0 0;
  }
  .main2uinstring {
    font-size: 2vh;
    font-weight: 900;
  }
  .main2d {
    margin: 0;
  }
  .main2all {
    width: 100vw;
  }
  .l2lewo {
    /* padding: 1.3rem; */
    padding: 0vh;
    margin-top: 2vh;
  }
  .skills {
    font-size: 0.7rem;
  }
  .main2d {
    margin-left: 4vw;
  }
}

/*******************************************/
/*          MEDIA ( LANDSCAPE )            */
/*******************************************/
@media only screen and (max-height: 420px) and (max-width: 1000px) and (orientation: landscape) {
  .l2prawo {
    display: none;
  }
  .l2lewo {
    padding: 4vh;
  }
  .mm {
    width: 12%;
    margin: 1vw;
  }
}
@media only screen and (max-height: 420px) and (min-width: 600px) and (max-width: 700px) {
  .l2lewo {
    margin-top: 0;
    margin-bottom: 6vh;
  }
}
